# version: '3.8'
# services:
#   frontend:
#     build: ./frontend
#     ports:
#       - "3000:3000"
#     volumes:
#       - ./frontend:/app
#       - /app/node_modules
#     stdin_open: true
#     tty: true
#     depends_on:
#       - backend

#   backend:
#     build: ./backend
#     ports:
#       - "5454:5454"
#     volumes:
#       - ./backend:/app
#       - /app/node_modules
#     env_file:
#       - ./backend/.env

version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "5454:5454"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
