###############################################
# FRONTEND MONITORING
###############################################

define host {
    use                     linux-server
    host_name               frontend
    alias                   Frontend Website
    address                 13.51.178.249
}

# Frontend HTTP availability check (port 80)
define service {
    use                     generic-service
    host_name               frontend
    service_description     Frontend HTTP Check
    check_command           check_http!-p 80
}


###############################################
# BACKEND MONITORING
###############################################

define host {
    use                     linux-server
    host_name               backend
    alias                   Backend API
    address                 13.51.178.249
}

# Backend HTTP check (port 5454)
define service {
    use                     generic-service
    host_name               backend
    service_description     Backend HTTP Check
    check_command           check_http!-p 5454
}

# Backend Health Endpoint (e.g. /health)
define service {
    use                     generic-service
    host_name               backend
    service_description     Backend Health Endpoint
    check_command           check_http!-p 5454 -u /health
}
